*{

  padding: 0;
  margin: 0;

}

html,body {
  background-color: black;
  
}

.app{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: center;
padding-top: 10px;
font-family: lato, sans-serif;
}

.frecodecamp-logo-contenedor{
width: 93%;
display: flex;
align-items: center;
justify-content: center;
margin: 60px;
height: 40px;

}

.freecodecamp-logo{
height: 180px;

}

.contenedor-principal-contador{
  height: 500px;
  min-width: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
 
}

.hola{
color: blueviolet;
text-align: center;
font-size: 60px;

}